# dependencies
/node_modules
/.firebase
/.pnp
firebase/firebaseConfig.ts
.pnp.js
.firebaserc
firebase.json
firestore.indexes.json
firestore.rules

.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# misc
.env

# macOS
.DS_Store
